/* File drop styling */
.file-drop-wrapper {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
}
.file-drop-wrapper.dragging {
  background-color: rgba(128, 128, 128, 0.8);
}
.file-drop-wrapper .file-drop-element {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 11;
  display: none;
  pointer-events: none;
}
.file-drop-wrapper.dragging .file-drop-element {
  display: block;
}

.file-drop-wrapper .file-drop-message {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.file-drop-wrapper.dragging .file-drop-message {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.8);
}
